@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\000033}}
.sf-menu.sf-style-plasma {
  float: left;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\000038}}
.sf-menu.sf-style-plasma.sf-navbar {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000311}}
.sf-menu.sf-style-plasma ul {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000314}}
.sf-menu.sf-style-plasma a {
  border: solid 1px #b5d2b5;
  background-color: #353;
  box-shadow: 0px 0px 4px 3px #75ac87, 0px 0px 3px 2px #87ac75 inset;
  border-radius: 8px;
  color: #ffff22;
  font-weight: bold;
  padding: 0 1em;
  margin: 3px 6px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000321}}
.sf-menu.sf-style-plasma a.sf-with-ul {
  padding-right: 2.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000324}}
.sf-menu.sf-style-plasma.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000328}}
.sf-menu.sf-style-plasma.sf-navbar a {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000331}}
.sf-menu.sf-style-plasma span.sf-description {
  color: #f1dec6;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

/*background: #210c02 */
 * margin: 0
 * padding: 0 */
/*background: #290f03 */
/*background: #311304 */
/*.sf-menu.sf-style-plasma li:hover, */
/*.sf-menu.sf-style-plasma li.sfHover, */
/*background: #62351f */
 * background-color: #550077 
 * color: #ffffff */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000363}}
.sf-menu.sf-style-plasma.sf-navbar li ul {
  background-color: #f2250f;
  border-radius: 8px;
}

/*background-color: transparent */
/*background-color: transparent */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000371}}
.sf-menu.sf-style-plasma ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-plasma ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000376}}
.sf-menu.sf-style-plasma ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000379}}
.sf-menu.sf-style-plasma ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000384}}
.sf-menu.sf-style-plasma.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000387}}
.sf-menu.sf-style-plasma li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000390}}
.sf-menu.sf-style-plasma li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000393}}
.sf-menu.sf-style-plasma li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000396}}
.sf-menu.sf-style-plasma li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\0000399}}
.sf-menu.sf-style-plasma li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\00003102}}
.sf-menu.sf-style-plasma li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\00003105}}
.sf-menu.sf-style-plasma li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\00003108}}
.sf-menu.sf-style-plasma li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\00003111}}
.sf-menu.sf-style-plasma li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/eco\/public_html\/sites\/default\/themes\/ptheme\/sass\/plasma\.sass}line{font-family:\00003114}}
.sf-menu.sf-style-plasma li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}
